# Compiled lib and dist files
lib
dist

# Environment files
certs
.runtimeconfig.json
src/config/config.ts

# Except the ESLint config file
!.eslintrc.js

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# debug files
ui-debug.log
